html,
body {
    height: 100%;
    margin: 0%;
    padding: 0%;
    position: relative;
}


.group_div .box {
    width: 300px;
    height: 200px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    border: solid 2px rgb(211, 77, 122);
    background-color: rgb(40, 60, 52);
    display: block;
    align-items: center;
    justify-content: center;
}

#date {
    color: rgb(211, 77, 122);
}

.group_div {
    top: 20px;
    right: 20px;
    width: 300px;
    height: 100%;
    position: absolute;
    display: block;
}

#map {
    height: 100%;
    width: 100%;
}



.group_div .box h1 {
    color: rgb(211, 77, 122);
    display: flex;
    align-items: center;
    justify-content: center;
}

.group_div .box h2 {
    color: rgb(211, 77, 122);
}

.group_div .box h3 {
    color: rgb(211, 77, 122);
}

.group_div .text button {
    cursor: pointer;
    background-color: rgb(211, 77, 122);
}

.group_div .box label {
    color: rgb(211, 77, 122);
}



.flex button {
    margin-left: 110px;
    margin-top: 80px
}

.my-info {
    color: rgb(211, 77, 122);
    background-color: transparent;
    margin-top: 20px
}

.flex {
    display: flex;
    align-items: center ;
    justify-content: center ;
}



